body {
    background-image: url("https://images.pexels.com/photos/355952/pexels-photo-355952.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); 
    background-repeat: no-repeat;
    height: 500vh; 
}

.main {
    color: white;
    font-family: sans-serif;
    padding: 10px 0px 0px 20px;
}